<!DOCTYPE html>
<html>
<head>
  <title>Goupp</title>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    html, body, .container {
      height: 100%;
    }

    .container {
      display: table;
      width: 100%;
      padding-top: 50px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .row {
      height: 100%;
      display: table-row;
    }

    .col-md-3.no-float, .col-md-9.no-float {
      float: none; /* thanks baxabbit */
    }

    .col-md-3 {
      display: table-cell;
      background: rgba(255, 244, 246, 0.69);
      width: 25%;
    }

    .col-md-9 {
      display: table-cell;
      background: #fffff7;
      width: 75%;
    }

  </style>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <div class="row" style="">
    <div class="col-md-12 no-float">
      <% if notice %>
          <br>
          <div class="alert alert-info">
            <%= notice %>
          </div>
      <% end %>
      <%= yield %>
    </div>

  </div>
</div>
</body>
</html>
